{% import "tools/hero_tools.html" as herotools %}

{% extends "base.html" %}

{% block content %}

      {{ herotools.image_hero(
        title=pageTitle,
        titleit=None,
        subtitle=pageSubtitle,
        subtitleit=None,
        icon_url=iconUrl,
        info_lines=None,
        role_list=None,
        actions=None,
        permission_info=None,
      ) }}

        <div class="col">

            <div class="jumbotron jumbotron-slim" style="background-color: {{ bgcolor }}">
                <div class="row">
                    <div class="col-auto">
                        <div class="row">
                            <div class="col-auto">
                                <a href="{{ url_for('calendarMakerGenerateCalendar') }}" class="btn btn-primary btn-lg {% if not canGenerate -%}disabled{%- endif %}">Generate calendar</a>
                            </div>
                            <div class="col-auto">
                                {% for gMessage in generationMessages %}
                                    <small class="text-muted">
                                        <div>{{ gMessage }}</div>
                                    </small>
                                {% endfor %}
                            </div>                            
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 0.4rem;">
                    <div class="col">
                        <i>Settings - </i> {{ settingsText }}
                        <a href="{{ url_for('calendarMakerSettingsView') }}" class="btn btn-primary btn-sm">Change...</a>
                        <a href="{{ url_for('calendarMakerResetSettingsView') }}" class="btn btn-warning btn-sm">Reset</a>
                    </div>
                </div>
                <div class="row" style="padding-top: 0.4rem;">
                    <div class="col">
                        <i>Images - </i> Selected images ({%- if coverImageFileObject -%}cover + {% else %}missing cover + {% endif -%}{{ calendarImages | length }} {% if numRequiredImages %} / {{ numRequiredImages }}{% endif %}):
                        {% if coverImageFileObject %}
                            <img title="Cover: {{ coverImageFileObject.file.name }}" src="{{ url_for('fileThumbnailView',dummyId=coverImageFileObject['file'].icon_file_id+'_',fsPathString='/'.join(coverImageFileObject.path[1:])) }}" class="calendar-small-image calendar-cover-image rounded"/>
                        {% endif %}
                        {% for fileStructure in calendarImages %}
                            <img title="{{ loop.index }}: {{ fileStructure.file.name }}" width="80%" src="{{ url_for('fileThumbnailView',dummyId=fileStructure['file'].icon_file_id+'_',fsPathString='/'.join(fileStructure.path[1:])) }}" class="calendar-small-image calendar-chosen-image rounded"/>
                        {% endfor %}
                        <a href="{{ url_for('calendarMakerImagesView') }}" class="btn btn-primary btn-sm">Browse...</a>
                        <a href="{{ url_for('calendarMakerUnsetImagesView') }}" class="btn btn-warning btn-sm">Reset</a>
                    </div>
                </div>
                <div class="row" style="padding-top: 0.4rem;">
                    <div class="col">
                        <i>Destination - </i> 
                        {% if destBox %}
                            <strong>{{ destBoxName }}</strong>.
                        {% else %}
                            not set.
                        {% endif %}
                        <a href="{{ url_for('calendarMakerDestBoxView', mode='start') }}" class="btn btn-primary btn-sm">Choose...</a>
                        <a href="{{ url_for('calendarMakerDestBoxView', mode='clear') }}" class="btn btn-warning btn-sm">Clear</a>
                    </div>
                </div>
            </div>

      </div>

{% endblock %}
