server {
    listen 80;
    server_name 
    {%- if app_configuration.domain_name is defined -%}
        {{ " "+app_configuration.domain_name }}
    {%- else -%}
        {{ " "+hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}
    {%- endif -%}
    ;

    client_max_body_size {{ webserver_configuration.max_body_size | default('128M') }};

    location / {
        include uwsgi_params;
        uwsgi_pass unix:/tmp/ostracion_webapp.sock;
        # see https://kmiku7.github.io/2018/02/02/Solve-the-problem-of-uwsgi-uwsgi-response-write-body-do-TIMEOUT-error/
        # for this one:
        uwsgi_max_temp_file_size 0;
    }
}
