{% import "tools/hero_tools.html" as herotools %}

{% extends "base.html" %}

{% block content %}

      {{ herotools.image_hero(
        title=pageTitle,
        titleit=None,
        subtitle=pageSubtitle,
        subtitleit=None,
        icon_url=iconUrl,
        info_lines=None,
        role_list=None,
        actions=None,
        permission_info=None,
      ) }}

        <div class="col">

            <div class="jumbotron jumbotron-slim" style="background-color: {{ admin_bgcolor }}">
                <div>Admin.</div>
            </div>

            <div class="jumbotron jumbotron-slim" style="background-color: {{ bgcolor }}">
                <div>Generic.</div>
            </div>

      </div>

{% endblock %}
