{% extends "base.html" %}
{% import "tools/form_tools.html" as formtools %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="jumbotron" style="padding: 10px;">

              {{ formtools.form_header(
                pageTitle,
                pageSubtitle,
                icon_url=iconUrl,
              ) }}

              <div>
                Users ({{ usersInLedger | count }} currently in ledger):
                <p>
                  {% for u in richUserObjects %}
                    {% if u.in_ledger %}
                      <a href="{{ url_for('accountingRemoveUserFromLedgerView', ledgerId=ledger.ledger_id, username=u.user.username) }}" class="badge badge-primary" data-toggle="tooltip" title="Remove {{ u.user.username }}">
                        {{ u.user.fullname }}
                      </a>
                    {% else %}
                      <a href="{{ url_for('accountingAddUserToLedgerView', ledgerId=ledger.ledger_id, username=u.user.username) }}" class="badge badge-secondary" data-toggle="tooltip" title="Insert {{ u.user.username }}">
                        {{ u.user.fullname }}
                      </a>
                    {% endif %}
                  {% endfor %}
                </p>
              </div>

              <a href="{{ url_for('accountingIndexView') }}" class="btn btn-success">Back to ledgers</a>

            </div>
        </div>
    </div>

{% endblock %}
