{% extends "base.html" %}

{% macro makemovementtable(mobjects, pagInfo) %}

                            {% for movementObj in mobjects %}
                                <tr>
                                  <td style="font-family: monospace;">
                                    {{ movementObj['movement'].date.strftime(ledgerDatetimeFormat) }}
                                  </td>
                                  <td style="font-family: monospace;">
                                    <strong>{{ movementObj['movement'].category_id }}</strong>
                                  </td>
                                  <td style="font-family: monospace;">
                                    {{ movementObj['movement'].subcategory_id }}
                                  </td>
                                  <td>
                                        {% for actor in actors %}
                                            {% if movementObj['contributions'][actor.actor_id] %}
                                              {% if movementObj['contributions'][actor.actor_id].paid %}
                                                <span class="badge badge-primary">
                                                  <i>{{ actor.name }}</i>: <strong>{{ '%.2f' % movementObj['contributions'][actor.actor_id].paid }}</strong>
                                                </span>
                                              {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                  </td>
                                  <td style="max-width: 50px;">
                                        {% for actor in actors %}
                                            {% if movementObj['contributions'][actor.actor_id] %}
                                              {% if movementObj['contributions'][actor.actor_id].proportion %}
                                                <span class="badge badge-secondary" data-toggle="tooltip" data-html="true" title="Due: <b>{{ '%.2f' % movementObj['contributions'][actor.actor_id].due }}</b> ({{ '%i' % (100.0 * movementObj['contributions'][actor.actor_id].proportion / movementObj['contribution_prop_total'] ) }}%)">
                                                  <i>{{ actor.name }}</i>: {{ movementObj['contributions'][actor.actor_id].proportion | int }}/{{ movementObj['contribution_prop_total'] | int }}
                                                </span>
                                              {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                  </td>
                                  {% if movementObj['movement'].description | length > 50 %}
                                    <td data-toggle="tooltip" title="{{ movementObj['movement'].description }}">
                                  {% else %}
                                    <td>
                                  {% endif %}
                                    {{ movementObj['movement'].description | truncate(64, False, '...') }}
                                  </td>
                                  <td>
                                    <a href="#" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-html="true" 
                                    title="<div align='left'>
                                        Edited by: <b>{{ usernameToName[movementObj['movement'].last_edit_username] }}</b> <br>
                                        Edited at: <b>{{ movementObj['movement'].last_edit_date.strftime('%b %d %H:%M') }}</b>
                                    </div>">
                                      i
                                    </a>
                                    <a href="{{ url_for('accountingLedgerView', ledgerId=ledger.ledger_id, movementId=movementObj['movement'].movement_id, page=pagInfo.page_index) }}" class="btn btn-primary btn-sm" data-toggle="tooltip" title="Edit">
                                      E
                                    </a>
                                    <a href="{{ url_for('accountingLedgerDeleteMovementView', ledgerId=ledger.ledger_id, movementId=movementObj['movement'].movement_id, page=pagInfo.page_index) }}" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Delete">
                                      X
                                    </a>
                                  </td>
                                </tr>
                            {% endfor %}

{% endmacro %}

{% macro makepagination( pagInfo ) %}
                    {% if pagInfo.total_pages > 1 %}
                      <nav>
                        <ul class="pagination justify-content-center pagination-sm">
                          {% for thisPIndex in pagInfo.pages_shown %}
                            {% if thisPIndex == pagInfo.page_index %}
                              <li class="page-item active" style="{% if thisPIndex == 0 %}margin-right: 12px;{% endif %}{% if thisPIndex == pagInfo.total_pages - 1 %}margin-left: 12px;{% endif %}">
                                <a class="page-link" href="{{ url_for('accountingLedgerView', ledgerId=ledger.ledger_id, page=thisPIndex) }}" tabindex="-1" data-toggle="tooltip" title="{{ pagInfo.row_first_shown + 1 }} to {{ pagInfo.row_last_shown + 1 }} of {{ pagInfo.row_count }}">
                                  {% if thisPIndex == pagInfo.total_pages - 1 %}<span aria-hidden="true">&raquo;</span>{% endif %}
                                  {{ thisPIndex + 1 }}
                                  {% if thisPIndex == 0 %}<span aria-hidden="true">&laquo;</span>{% endif %}
                                </a>
                              </li>
                            {% else %}
                              <li class="page-item" style="{% if thisPIndex == 0 %}margin-right: 12px;{% endif %}{% if thisPIndex == pagInfo.total_pages - 1 %}margin-left: 12px;{% endif %}"><a class="page-link" href="{{ url_for('accountingLedgerView', ledgerId=ledger.ledger_id, page=thisPIndex) }}" tabindex="-1">
                                {% if thisPIndex == pagInfo.total_pages - 1 %}<span aria-hidden="true">&raquo;</span>{% endif %}
                                {{ thisPIndex + 1 }}
                                {% if thisPIndex == 0 %}<span aria-hidden="true">&laquo;</span>{% endif %}
                              </a></li>
                            {% endif %}
                          {% endfor %}
                        </ul>
                      </nav>
                    {% endif %}
{% endmacro %}


{% block content %}

      <div class="row">
        <div class="col">

            <div class="jumbotron" style="padding: 10px;">

                <div class="row">
                    <div class="col" style="max-width: 90px;">
                        <img src="{{ url_for('appItemThumbnailView', mode='accounting_ledger', dummyId=ledger.icon_file_id+'_', itemId=ledger.ledger_id) }}" class="rounded" width="100%">
                    </div>
                    <div class="col">
                        <h5>
                            {{ ledger.name }}
                            <i>({{ ledger.ledger_id }})</i>
                        </h5>
                        {% if ledger.description %}
                            <p>
                                {{ ledger.description }}
                            </p>
                        {% endif %}
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                Dues: X, Y, Z
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i>(as of: 2020-12-31)</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col">

                    <form method="post" name="query" action="{{ url_for('accountingLedgerAlterQueryView', ledgerId=ledger.ledger_id) }}">
                      {{ queryform.hidden_tag() }}

                      <div class="form-group">
                        <label for="roledescription">Start date</label>
                        {{ queryform.dateFrom(class_="form-control",tabindex=1) }}
                        {% for error in queryform.dateFrom.errors %}
                          <small class="form-text text-muted">{{ error }}</small>
                        {% endfor %}
                      </div>

                      <div class="form-group">
                        <label for="roledescription">End date</label>
                        {{ queryform.dateTo(class_="form-control",tabindex=2) }}
                        {% for error in queryform.dateTo.errors %}
                          <small class="form-text text-muted">{{ error }}</small>
                        {% endfor %}
                      </div>

                      <div class="form-group">
                        {{ queryform.submit(class_='btn btn-primary btn-md',style='margin-right: 25px;',tabindex=3) }}
                        <a href="#" class="btn btn-success" tabindex="4">
                          Reset
                        </a>
                      </div>

                    </form>

                  </div>
                </div>

                <hr>
                <div class="col">
                  {{ makepagination( paginationInfo ) }}
                </div>

                <div class="row">
                    <div class="col">

                      <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Category</th>
                                <th scope="col">Subcategory</th>
                                <th scope="col">Paid</th>
                                <th scope="col">Due</th>
                                <th scope="col">Description</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                            {{ makemovementtable(preMovementObjects, paginationInfo) }}

                            {% if displayMovementForm %}
                              <form class="form-inline" method="post" name="addmovement" action="">
                                  {{ addmovementform.hidden_tag() }}
                                  <tr>
                                    <td style="font-family: monospace;">
                                      <a name="movementform"></a>
                                      {{ addmovementform.date(class_="form-control",placeholder=ledgerDatetimeFormatDesc,tabindex=11) }}
                                      {% for error in addmovementform.date.errors %}
                                        <small class="form-text text-muted">{{ error }}</small>
                                      {% endfor %}
                                    </td>
                                    <td style="font-family: monospace;">
                                      {{ addmovementform.categoryId(class_="form-control",tabindex=12) }}
                                      {% for error in addmovementform.categoryId.errors %}
                                        <small class="form-text text-muted">{{ error }}</small>
                                      {% endfor %}
                                    </td>
                                    <td style="font-family: monospace;">
                                      {{ addmovementform.subcategoryId(class_="form-control",tabindex=13) }}
                                      {% for error in addmovementform.subcategoryId.errors %}
                                        <small class="form-text text-muted">{{ error }}</small>
                                      {% endfor %}
                                    </td>

                                    <td>
                                          {% for actor in actors %}
                                              <div class="row" style="width:90%; margin-left: 0;">
                                                  {{ paidFormFieldMap[actor.actor_id](class_="form-control form-control-sm",placeholder=actor.name, tabindex=14+loop.index) }}
                                                  {% for error in paidFormFieldMap[actor.actor_id].errors %}
                                                    <small class="form-text text-muted">{{ error }}</small>
                                                  {% endfor %}
                                              </div>
                                          {% endfor %}
                                    </td>
                                    <td>
                                          {% for actor in actors %}
                                              <div class="row" style="width:90%; margin-left: 0;">
                                                  {{ propFormFieldMap[actor.actor_id](class_="form-control form-control-sm",placeholder=actor.name, tabindex=14+numActors+loop.index) }}
                                                  {% for error in propFormFieldMap[actor.actor_id].errors %}
                                                    <small class="form-text text-muted">{{ error }}</small>
                                                  {% endfor %}
                                              </div>
                                          {% endfor %}
                                    </td>

                                    <td>
                                      {{ addmovementform.description(class_="form-control",placeholder="description...",tabindex=10+2*numActors+4) }}
                                      {% for error in addmovementform.description.errors %}
                                        <small class="form-text text-muted">{{ error }}</small>
                                      {% endfor %}
                                    </td>
                                    <td>
                                      {% if editeeMovement %}
                                        {{ addmovementform.submit(class_='btn btn-primary btn-md', tabindex=10+2*numActors+5, value="S") }}
                                        <a href="{{ url_for('accountingLedgerView', ledgerId=ledger.ledger_id, page=paginationInfo.page_index) }}" class="btn btn-success btn-md" tabindex="{{ 10+2*numActors+6 }}" data-toggle="tooltip" title="Cancel editing">
                                          N
                                        </a>
                                      {% else %}
                                        {{ addmovementform.submit(class_='btn btn-primary btn-md',style='margin-right: 25px;', tabindex=10+2*numActors+5, value="+") }}
                                      {% endif %}
                                    </td>
                                  </tr>
                              </form>
                            {% endif %}

                            {{ makemovementtable(postMovementObjects, paginationInfo) }}

                        </tbody>
                      </table>

                    </div>
                </div>

                <div class="col">
                  {{ makepagination( paginationInfo ) }}
                </div>
                <hr>

            </div>

        </div>
      </div>

{% endblock %}
