{% extends "base.html" %}
{% import "tools/form_tools.html" as formtools %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="jumbotron" style="padding: 10px;">

              {{ formtools.form_header(
                pageTitle,
                pageSubtitle,
                icon_url=iconUrl,
              ) }}

              <div class="row">

                <div class="col-md-12">
                    <div class="jumbotron" style="background-color: {{ g.settings.color.task_colors.table.value }}; padding-top: 10px;">
                        <div class="row" style="margin-top:15px;">

                          <table class="table table-hover">
                              <thead>
                                  <tr>
                                      <th class="col-md-2">Actor ID</th>
                                      <th class="col-md-3">Name</th>
                                      <th class="col-md-2">Actions</th>
                                  </tr>
                              </thead>
                              <tbody>

                              <form class="form-inline" method="post" name="addactor" action="">
                                  {{ actorform.hidden_tag() }}
                                  <tr>
                                    <td style="font-family: monospace;">
                                      {{ actorform.actorId(class_="form-control",placeholder="New actor ID",tabindex=1) }}
                                      {% for error in actorform.actorId.errors %}
                                        <small class="form-text text-muted">{{ error }}</small>
                                      {% endfor %}
                                    </td>
                                    <td>
                                      {{ actorform.name(class_="form-control",placeholder="New actor name",tabindex=2) }}
                                      {% for error in actorform.name.errors %}
                                        <small class="form-text text-muted">{{ error }}</small>
                                      {% endfor %}
                                    </td>
                                    <td>
                                      {{ actorform.submit(class_='btn btn-primary btn-sm',style='margin-right: 25px;', tabindex=3, value="+") }}
                                    </td>
                                  </tr>
                                </form>

                                {% for actor in actorsInLedger %}
                                  <tr>
                                    <td style="font-family: monospace;">
                                      {{ actor.actor_id }}
                                    </td>
                                    <td>
                                      {{ actor.name }}
                                    </td>
                                    <td>
                                      <span>
                                        <a href="{{ url_for('accountingRemoveActorView', ledgerId=ledger.ledger_id, actorId=actor.actor_id) }}" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Delete">
                                          X
                                        </a>
                                      </span>
                                    </td>
                                  </tr>
                                {% endfor %}

                              </tbody>
                          </table>

                        </div>
                    </div>
                </div>
              </div>
              <a href="{{ url_for('accountingIndexView') }}" class="btn btn-success">Back to ledgers</a>
            </div>
        </div>
    </div>

{% endblock %}
