{% extends "base.html" %}
{% import "tools/form_tools.html" as formtools %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="jumbotron" style="padding: 10px;">

              {{ formtools.form_header(
                pageTitle,
                pageSubtitle,
                icon_url=iconUrl,
              ) }}

              <div class="row">

                <div class="col-md-12">
                    <div class="jumbotron" style="background-color: {{ g.settings.color.task_colors.table.value }}; padding-top: 10px;">
                        <div class="row" style="margin-top:15px;">

                          <table class="table table-hover">
                              <thead>
                                  <tr>
                                      <th class="col-md-2">Category ID</th>
                                      <th class="col-md-2">Subcategory ID</th>
                                      <th class="col-md-3">Description</th>
                                      <th class="col-md-2">Actions</th>
                                  </tr>
                              </thead>
                              <tbody>

                              <form class="form-inline" method="post" name="addcategory" action="{{ url_for('accountingLedgerAddCategoryView', ledgerId=ledger.ledger_id) }}">
                                  {{ categoryform.hidden_tag() }}
                                  <tr>
                                    <td style="font-family: monospace;">
                                      {{ categoryform.categoryId(class_="form-control",placeholder="New category ID",tabindex=1) }}
                                      {% for error in categoryform.categoryId.errors %}
                                        <small class="form-text text-muted">{{ error }}</small>
                                      {% endfor %}
                                    </td>
                                    <td style="font-family: monospace;">
                                    </td>
                                    <td>
                                      {{ categoryform.description(class_="form-control",placeholder="Description",tabindex=2) }}
                                      {% for error in categoryform.description.errors %}
                                        <small class="form-text text-muted">{{ error }}</small>
                                      {% endfor %}
                                    </td>
                                    <td>
                                      {{ categoryform.submit(class_='btn btn-primary btn-md',style='margin-right: 25px;', tabindex=3, value="+") }}
                                    </td>
                                  </tr>
                                </form>

                              <form class="form-inline" method="post" name="addsubcategory" action="{{ url_for('accountingLedgerAddSubcategoryView', ledgerId=ledger.ledger_id) }}">
                                  {{ subcategoryform.hidden_tag() }}
                                  <tr>
                                    <td style="font-family: monospace;">
                                      {{ subcategoryform.categoryId(class_="form-control",tabindex=4) }}
                                      {% for error in subcategoryform.categoryId.errors %}
                                        <small class="form-text text-muted">{{ error }}</small>
                                      {% endfor %}
                                    </td>
                                    <td style="font-family: monospace;">
                                      {{ subcategoryform.subcategoryId(class_="form-control",placeholder="New subcategory ID",tabindex=5) }}
                                      {% for error in subcategoryform.subcategoryId.errors %}
                                        <small class="form-text text-muted">{{ error }}</small>
                                      {% endfor %}
                                    </td>
                                    <td>
                                      {{ subcategoryform.description(class_="form-control",placeholder="Description",tabindex=6) }}
                                      {% for error in subcategoryform.description.errors %}
                                        <small class="form-text text-muted">{{ error }}</small>
                                      {% endfor %}
                                    </td>
                                    <td>
                                      {{ subcategoryform.submit(class_='btn btn-primary btn-md',style='margin-right: 25px;', tabindex=7, value="+") }}
                                    </td>
                                  </tr>
                                </form>

                              {% for catObj in categoryTree %}
                                <tr>
                                  <td style="font-family: monospace;">
                                    <strong>{{ catObj.category.category_id }}</strong>
                                  </td>
                                  <td style="font-family: monospace;"></td>
                                  <td>
                                    <i>{{ catObj.category.description }}</i>
                                  </td>
                                  <td>
                                    <a href="{{ url_for('accountingLedgerMoveCategoryView', ledgerId=ledger.ledger_id, categoryId=catObj.category.category_id, direction='up') }}" class="btn btn-md {% if loop.first -%}disabled btn-secondary{%- else -%}btn-success{%- endif %}"
                                      style="font-family: 'Zapf Dingbats';"
                                      data-toggle="tooltip" title="Move up">&#9652;</a>
                                    <a href="{{ url_for('accountingLedgerMoveCategoryView', ledgerId=ledger.ledger_id, categoryId=catObj.category.category_id, direction='down') }}" class="btn {% if loop.last -%}disabled btn-secondary{%- else -%}btn-success{%- endif %}"
                                      style="font-family: 'Zapf Dingbats';"
                                      data-toggle="tooltip" title="Move down">&#9662;</a>
                                    <a href="{{ url_for('accountingLedgerRemoveCategoryView', ledgerId=ledger.ledger_id, categoryId=catObj.category.category_id) }}" class="btn btn-danger btn-md" data-toggle="tooltip" title="Delete">
                                      X
                                    </a>
                                  </td>
                                </tr>
                                {% for subcat in catObj.subcategories %}
                                  <tr class="small">
                                    <td style="font-family: monospace; padding-top: 0.45rem; padding-bottom: 0.15rem;">
                                      <!-- {{ subcat.category_id }} -->
                                    </td>
                                    <td style="font-family: monospace; padding-top: 0.45rem; padding-bottom: 0.15rem;">
                                      {{ subcat.subcategory_id }}
                                    </td>
                                    <td style="padding-top: 0.45rem; padding-bottom: 0.15rem; padding-left: 2rem;">
                                      <i>{{ subcat.description }}</i>
                                    </td>
                                    <td style="padding-top: 0.45rem; padding-bottom: 0.15rem; padding-left: 2rem;">
                                      <a href="{{ url_for('accountingLedgerMoveSubcategoryView', ledgerId=ledger.ledger_id, categoryId=catObj.category.category_id, subcategoryId=subcat.subcategory_id, direction='up') }}" class="btn btn-sm {% if loop.first -%}disabled btn-secondary{%- else -%}btn-success{%- endif %}"
                                        style="font-family: 'Zapf Dingbats';"
                                        data-toggle="tooltip" title="Move up">&#9652;</a>
                                      <a href="{{ url_for('accountingLedgerMoveSubcategoryView', ledgerId=ledger.ledger_id, categoryId=catObj.category.category_id, subcategoryId=subcat.subcategory_id, direction='down') }}" class="btn btn-sm {% if loop.last -%}disabled btn-secondary{%- else -%}btn-success{%- endif %}"
                                        style="font-family: 'Zapf Dingbats';"
                                        data-toggle="tooltip" title="Move down">&#9662;</a>
                                      <a href="{{ url_for('accountingLedgerRemoveSubcategoryView', ledgerId=ledger.ledger_id, categoryId=catObj.category.category_id, subcategoryId=subcat.subcategory_id) }}" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Delete">
                                        X
                                      </a>
                                    </td>
                                  </tr>
                                {% endfor %}
                              {% endfor %}

                              </tbody>
                          </table>

                        </div>
                    </div>
                </div>
              </div>
              <a href="{{ url_for('accountingIndexView') }}" class="btn btn-success">Back to ledgers</a>
            </div>
        </div>
    </div>

{% endblock %}
